/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body{
    padding: 100px;
}
.list{
    background-color: aquamarine;
}
.buts{
    text-align: right;
    background-color: blue;
}

.examtimer{
    text-align: center;
}
.toheder{
    background-color: gold;
}
#home{
    background-image:url("mum.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: aqua;
      }
#homeh{margin-top: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
