<div class="row">
  <div class="col-md-9 mx-auto">
    <!-- <span class="anchor" id="formLogin"></span> -->

    <!-- form card login -->
    <div class="card rounded-0">
      <div class="card-header toheder">
        <h3 class="mb-0">Questions List</h3>
      </div>
      <div class="card-body">
 <table class="table">
 <thead>
   <tr>
     <th>Number</th>
     <th>Question</th>
     <th>Answer</th>
     <th></th>
     <th></th>

   </tr>
 </thead>
<tbody>
  <tr *ngFor="let e of exams$ | async; let num = index">
  <td><h4>{{ num+1 }}</h4></td>
  <td><h4>{{ e.question }}</h4></td>
  <td><h4>{{e.answer}}</h4></td>

  <td><a routerLink="/admin/exams/edit/{{e._id}}" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
  <td><a routerLink="/admin/exams/delete/{{e._id}}" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-remove"></span> Delete 
  </a></td>

  </tr>
</tbody>
 </table>
  </div>
  </div>
  </div>
</div>
