
    <h1> Welcome To Maharishi University Of Management <br> Online Entrance Exam
    </h1>
<div class="scrollbar">

<div class="test">
<h2> Terms & Conditions</h2>
To gain admission to the M.U.M Computer Science Master's program, you must be able to program in a current programming language and environment. To confirm this, we require you to take this simple programming test. To pass this test, you do not have to know Object-Oriented programming or Java. 
This test only requires knowledge of basic programming skills. From our evaluation of your admissions application, we believe you should easily be able to pass this test. It should not be necessary for you to study for this test. It is short, simple, and easy. 
A sample test with solutions is available from here. Please review it before you start the real test. Email your admissions representative if you have any questions. You will not have an opportunity to email questions during the real exam because of the difference in time zones.
We have compiled a list of common errors that students have made on previous tests. Please read and understand these errors before starting the test. 

<h2>Test Details</h2>
There are three questions. Each one involves writing a computer program using the language of your choice, selected from the following list: Java, C, C++, C#, preferably Java. After finishing each question you will copy the source code into a text box and click the submit button to save it in our database. 
The work you submit must be your own. You are not allowed to collaborate with another person, use any books or use the Internet to help you answer a question. 
<h2>On Campus Testing</h2>
To verify that this online field test is your own independent work, you will be given a similar test when you arrive at M.U.M. This on-campus test will be closed book, closed notes. We expect your performance in this on-campus test to be at the same level as the online field test. 
<h2>Taking the Test</h2>
The test is semi-automated. Your answers are automatically sent to a database for review. Once you click the start button, you are expected to finish the test in two hours. You will lose points if you take more than two hours, and any answer submitted after two and a half hours will not be saved in our database and hence will not be seen by the grader. We suggest you set an alarm to go off 10 minutes before the exam is over, so you will have time to submit your work. We recommend you submit each solution as soon as you finish it. Please submit your work even if you have not finished everything. 
If you are unable to submit all of your answers within two and a half hours because of power or Internet connection problems, then please contact us. 
<h2>Before you take the exam you must agree to the following:</h2>
"I understand that if I am accepted to the MS Program in Computer Science at Maharishi University of Management, I will be required to pass a similar exam in the first week after I arrive on campus in Fairfield, Iowa, USA. I also understand that if I fail that exam, I will be asked to leave the program. I affirm that I am taking this exam on my own, without outside assistance." 
"This exam and all related materials are private copyrighted material and the intellectual property of M.U.M. and are provided solely for individual use on this admissions pre-test. They are not to be copied or further distributed without written permission from M.U.M." 
<strong> Click the start button to indicate that you understand and agree with these conditions and begin your test. </strong>
</div>
<div class="buttonstart">
<button class="btn btn-primary" (click)="startexam()" >Click here to start</button> <strong style="color:red ; font-size: 20px;"> {{message}}</strong>
</div>
</div>
