<!-- <div class="py-5"> -->
  <div class="row">
    <div class="col-md-9 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">New Question</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
             <textarea class="form-control rounded-0" [(ngModel)]="questionData.question" name="question" required></textarea>
            
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="questionData.status" name="status" class="form-control rounded-0" required>
              
             </div>
             <div class="form-group">
            <input type="text" [(ngModel)]="questionData.answer" name="answer" class="form-control rounded-0" required>
 
             </div>
           
            <button type="button" (click)="addQuestion()" class="btn btn-success float-right">Save</button>
          </form>
          <!-- <button type="button" (click)="getUsers()" class="btn btn-success float-right">users</button> -->
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    <!-- </div> -->


  </div>
</div>
©
